= javascript_include_tag "games"

.wrapper
  .title
    タイピング　練習
  .header
    .header__register
      = link_to sentences_path do
        文章登録
    .header__wrapper
      .header__wrapper--deco
        = link_to results_path, class: "deco-link" do
          ランキング
      - if user_signed_in?
        .header__wrapper--deco
          = link_to "#", class: "deco-link" do
            マイページ
        .header__wrapper--deco
          = link_to destroy_user_session_path, method: :delete, class: "deco-link", data: {confirm: "ログアウトしてもよろしいですか？"} do
            ログアウト
      - else
        .header__wrapper--deco
          = link_to new_user_registration_path, class: "deco-link" do
            ユーザー新規登録
        .header__wrapper--deco
          = link_to new_user_session_path, class: "deco-link" do
            ログイン

  %br

  = render "games-result"

  %br

  .games
    .games__num
      挑戦する文章の数を入力してください。
      %br
      - num = []
      - @sentences.length.times do |i|
        - num << i + 1
      = select_tag "select", options_for_select(num), class: "games__num__select"
    .games__start
      %p
        スタートをクリックするとゲーム・測定開始！
      .games__start__note
        ※必ず半角で入力をしてください。
      .games__start__btn
        start!
    .games__sentences
      %p
        ここに問題文が出力されます。
      .games__sentences__text
        = text_field_tag "text", "", class: "input-field"
      .no-display
    .dummy
  %br